* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "League Spartan", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 1090px;

}

.top-div {
    display: flex;
    column-gap: 299px;
}

.two {
    position: relative;
    left: 36px;
}

.three {
    position: relative;
    left: 70px;
}

.right-div {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding-top: 62px;
}

.bottom-div {
    display: flex;
    column-gap: 16px;
}

.rating {
    display: flex;
    background-color: hsl(300, 24%, 96%);
    padding: 10px;
    column-gap: 20px;
    border-radius: 5px;
}

.left-div {
    width: 425px;
}

.left-div h1 {
    color: hsl(300, 43%, 22%);
    width: 250px;
    font-weight: bolder;
    font-size: 40px;
}

.left-div p {
    color: hsl(333, 80%, 67%);
    margin-bottom: 0px;
}


.rating-description {
    color: hsl(300, 43%, 22%);
    font-weight: bold;
    font-size: 12px;
}

.column {
    background-color: hsl(300, 43%, 22%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    border-radius: 5px;
}

.header img {
    border-radius: 50%;
    width: 50px;
}

.header {
    display: flex;
    column-gap: 20px;
}

.name {
    color: white;
    font-weight: bold;
}

.designation {
    color: hsl(303, 10%, 53%);
    font-weight: bold;
}

.paragraphs {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    font-size: 16px;
    justify-content: center;
    align-items: flex-start;
}

.paragraphs p {
    margin: 0px;
}

.review {
    color: white;
}

.colTwo {
    position: relative;
    top: 36px;
}

.colThree {
    position: relative;
    top: 70px;
}



/* .top-div,
.bottom-div,
.left-div,
.right-div,
.rating,
.column {
    border: 1px, solid, black;
} */